{% extends 'base.j2' %}

{% block title %}{{ league }} Season {{ season }} Standings{% endblock %}

{% block content %}
  <p>
    In the first column, "L" or "H" indicates that this team is the top team of
    the Low or High division of their sub-league, respectively.<br />
    "*" means that this team is one of the top two highest winning teams not top
    of their division.
    "▼" means that this is one of the bottom 4 teams in the entire league and
    will recieve an extra Will in the Election.
  </p>
  <p>
    In the wins column, a "*" indicates that the current game has not yet
    finished, so estimated values may differ from those with completed games.
  </p>
  <p>
    In the last column, a "🏆" means that this team has clinched a playoff spot
    for their subleague, and will see a postseason birth unless Black Hole or
    Sun 2 weather causes them to drop out of this position.<br />
    Likewise, a "🥳" indicates that this team has been mathematically eliminated
    from the playoffs and entered Party Time.<br />
    A number in this column indicates the day after which this site estimates
    the team will enter one of the above states, depending on whether they are
    presently in the running for the postseason or not.
  </p>

  {% for subleague, teams in standings.items() %}
  <div class="subleague">
    <h2>{{ subleague }}</h2>
    <table>
      <tr>
        <th />
        <th />
        <th class="name">Team Name</th>
        <th>Wins</th>
        <th>Record</th>
        <th>Quickest</th>
        <th>Estimate</th>
      </tr>
      {% for team in teams %}
      <tr>
        {% if team %}
        <td>{{ team[0] }}</td>
        <td class="tiebreaker">[{{ team[3] }}]</td>
        <td><a href="{{ url_for('show_team_stats', team_id=team[10]) }}">{{ team[1] }}</a></td>
        <td class="number">{{ "*" if team[5] else "" }}{{ team[6] }}</td>
        <td class="number">{{ team[7] }}</td>
        <td class="number">{{ team[8] }}</td>
        <td class="number">{{ team[9] }}</td>
        {% else %}
        <td colspan=7 class="separator" />
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}
{% endblock %}
