<!doctype html>
<head>
  <title>{{ teams[team_id].nickname }} season standings</title>
  <link rel="stylesheet" href="/static/blaseball.css" />
</head>

<body>
  <p>Back to <a href="{{ url_for('show_standings') }}">overall standings</a></p>
  <p>This <em>does not</em> know about Sun 2 or Black Hole events. This is just about the end-of-game result.</p>
  <table>
    <tr>
      <th>Team</th>
      <th>Record</th>
      <th>Win%</th>
    </tr>
    {% for team, record in team_data[team_id].items() %}
    <tr>
      <td><a href="{{ url_for('show_team_stats', team_id=team) }}">{{ teams[team].nickname }}</a></td>
      <td class="number">{{ record[0] }}-{{ record[1] - record[0] }}</td>
      <td class="number">{{ "{0:.0f}".format(record[0] / record[1] * 100) }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
